h2{
    color: aqua;
}
.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-group-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
    transform: scale(1.02);
  }
  
  .list-group-item a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .list-group-item a:hover {
    color: #000;
  }
  