
<div class="container-fluid">
  <header>
    <img src="https://www.apple.com/v/iphone/compare/ac/images/meta/compare__b5xf30djrsia_og.png?202304111355" height="100px">
  
  </header>
  <nav class="bg-secondary"> <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#" >Hi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"routerLink="/sanpham">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"routerLink="/cart">Giỏ hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"routerLink="/dangnhap">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"routerLink="/donhang">Đơn hàng</a>
          </li>
        </ul>
      </div>
    </div>
  </nav></nav>

  <main class="row">
    <article class="col-md-9 bg-light">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 ">
     <app-loai-san-pham></app-loai-san-pham>
    </aside>
  </main>  
  <hr> 
  <footer class=" text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Thông tin liên hệ</h4>
          <p>Địa chỉ: Số 828 Đường Sư Vạn Hạnh, Quận 10, Thành phố HCM</p>
          <p>Email: nhom6@gmail.com</p>
          <p>Điện thoại: 0123456789</p>
        </div>
        <div class="col-md-4">
          <h4>Về chúng tôi</h4>
          <p>Diễn Đàn Điện Thoại là một trang web chuyên về đánh giá và đánh giá các sản phẩm điện thoại di động.</p>
          <p>Chúng tôi cung cấp các thông tin chi tiết về các điện thoại di động mới nhất trên thị trường.</p>
        </div>
        <div class="col-md-4">
          <h4>Kết nối với chúng tôi</h4>
          <div class="social-icons">
            <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
            <br>
            <a href="" class="facebook"><i class="fab fa-facebookv"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <p>&copy; 2023 Diễn Đàn Điện Thoại. All rights reserved.</p>
  </footer>
</div>
