<div class="alert text-center p-5 h2" *ngIf="items.length === 0">
  Bạn chưa chọn sản phẩm nào
</div>

<table id="cart" class="table table-bordered" *ngIf="items.length > 0">
  <thead>
    <tr>
      <th>Hình</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td><img class="img-fluid" src="{{item.hinh}}"></td>
      <td>{{ item.tensp | uppercase }}</td>
      <td>{{ item.giasp | number:'1.0-0':'fr' }} VNĐ</td>
      <td>
        <div class="quantity-input">
          <input [(ngModel)]="item.soluong" min="1" type="number" class="form-control">
        </div>
      </td>
      <td>{{ item.giasp * item.soluong | number:'1.0-0':'fr' }} VNĐ</td>
      <td>
        <button class="btn btn-danger delete-button" (click)="removeFromCart(item)">
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Tổng số lượng:</th>
      <th>{{ tongsoluong() }}</th>
      <th colspan="2">Tổng tiền: {{ tongtien() | number:'1.0-0':'fr' }} VNĐ</th>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td>
        <a class="btn btn-primary w-100" href="#" routerLink="/thanhtoan">Thanh toán</a>
      </td>
    </tr>
  </tfoot>
</table>